<a href="/"><img class="mb-rounded my-3 d-block mx-auto" id="logo" src="/images/logo.JPG" alt="HandyMe logo"></a>
<h1 class="h3 mb-3 font-weight-normal text-center">Create your HandyMe account</h1>
<div class="container-sm col-4 text-center">
  <%- include('./partials/messages.ejs') %>
<form class="form-signin" method="POST" action="/users/register">
  <label for="name">Name</label>
<input class="form-control" type="text" name="name" value="<%= typeof name != 'undefined' ? name : '' %>">
<label for="email">Email</label>
<input class="form-control" type="Email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
<label for="Password">Password</label>
<input class="form-control" type="password" name="password" value="<%= typeof password != 'undefined' ? password : '' %>">
<label for="Password">Re-enter Password</label>
<input class="form-control" type="password" name="password2" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"><br>
<input class="btn btn-lg btn-primary btn-block mb-3" type="submit" value="Register">
</form>
<a id="register" href="/users/login">Already registered? Login</a>
</div>




