<link rel="stylesheet" href="/css/loginStyle.css">
<a href="/"><img id="logo" src="/images/logo.JPG" alt="HandyMe logo"></a>
<div class="container-1">
  <%- include('./partials/messages.ejs') %>
<form method="POST" action="/pro/register">
  <label for="fname">First Name</label>
<input type="text" name="fname" value="<%= typeof fname != 'undefined' ? fname : '' %>"required><br>
<label for="lname">Last Name</label>
<input type="text" name="lname" value="<%= typeof lname != 'undefined' ? lname : '' %>"required><br>
<label for="email">Email</label>
<input type="Email" name="email" value="<%= typeof email != 'undefined' ? email : '' %>"required><br>
<label for="phone">Phone Number</label>
<input type="tel" name="phone" value="<%= typeof phone != 'undefined' ? phone : '' %>"><br>
<label for="primary service">Your primary service:</label>
<select  name="serviceType" class="select1" required>
    <option value="plumber">plumber</option>
    <option value="painter">painter</option>
    <option value="cleaner">cleaner</option>
    <option value="electrician">electrician</option>
    <option value="pestcontrol">pest control</option>
</select><br>
<input class="button" type="submit" value="Register">
</form>
</div>
<a id="register" href="/users/login">Already registered? Login</a>